<!doctype html>
<!-- views/profile.ejs -->
<html>

  <head>
    <title>Node Authentication</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <style>
      body {
        padding-top: 80px;
        word-wrap: break-word;
      }

    </style>

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
    <script src="/angular/app.js"></script>
    <script src="/angular/controllers/controller.js"></script>
    <script src="/angular/controllers/userController.js"></script>
  </head>

  <body ng-app="app">

    <script src="/socket.io/socket.io.js"></script>

    <script>
      var socket = io.connect('http://localhost:3000');

      // on connection to server, ask for user's name with an anonymous callback
      socket.on('connect', function () {
        // call the server-side function 'adduser' and send one parameter (value of prompt)
        socket.emit('adduser', '<%= user.username %>');
      });

      // listener, whenever the server emits 'updatechat', this updates the chat body
      socket.on('updatechat', function (username, data) {
        $('#conversation').append('<b>' + username + ':</b> ' + data + '<br>');
      });

      // listener, whenever the server emits 'updaterooms', this updates the room the client is in
      socket.on('updaterooms', function (rooms, current_room) {

        $('#rooms').empty();
        $.each(rooms, function (key, value) {
          if (value == current_room) {
            $('#rooms').append('<li>' + value + '</li>');
          } else {
            $('#rooms').append('<li><a href="#" onclick="switchRoom(\'' + value + '\')">' + value + '</a></li>');
          }
        });
      });

      function switchRoom(room) {
        socket.emit('switchRoom', room);
      }

      // on load of page
      $(function () {
        // when the client clicks SEND
        $('#datasend').click(function () {
          var message = $('#data').val();
          $('#data').val('');
          // tell server to execute 'sendchat' and send along one parameter
          socket.emit('sendchat', message);
        });

        // when the client hits ENTER on their keyboard
        $('#data').keypress(function (e) {
          if (e.which == 13) {
            $(this).blur();
            $('#datasend').focus().click();
          }
        });
      });
    </script>
    <script src="scripts/locate.js"></script>

    <div class="container">

      <div class="page-header text-center">
        <h1>
          <span class="fa fa-anchor"></span>
          Profile Page</h1>
        <a href="/logout" class="btn btn-default btn-sm">Logout</a>
      </div>

      <div class="row" ng-controller="userController" ng-init="initialize('<%= JSON.stringify(user) %>')">

        <!-- LOCAL INFORMATION -->
        <div class="col-sm-6">
          <div class="well" ng-if="!showEdit">
            <div ng-if="message" class="alert alert-success">
              {{message}}
              <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
            </div>
            <h3>
              <span class="fa fa-user"></span>
              Local</h3>

            <p>
              <strong>id</strong>:
              {{user.id}}
              <br/>
              <strong>username</strong>:
              {{ user.username }}
              <br>
              <strong>Dirección
              </strong>:
              {{ user.address }}
              <br/>
              <strong>Grupo Sanguíneo
              </strong>:
              {{ user.bloodtype }}
              <br/>
              <strong>Fecha de nacimiento:
              </strong>:
              {{ user.birthday | date }}
              <br/>
              <strong>arquicoins</strong>:
              {{ user.arquicoins }}<br>
            </p>
            <a ng-click="triggerShowEdit()" class="btn btn-default btn-sm">Editar</a>

          </div>
          <div class="well" ng-if="showEdit">
            <div ng-if="message" class="alert alert-danger">{{message}}</div>

            <h3>
              <span class="fa fa-user"></span>
              Local</h3>

            <div class="form-group">
              <label>username</label>
              <input type="text" class="form-control" name="username" ng-model="newUser.username">
            </div>
            <div class="form-group">
              <label>Grupo sanguineo</label>
              <input type="text" class="form-control" name="bloodtype" ng-model="newUser.bloodtype">
            </div>
            <div class="form-group">
              <label>Direccion</label>
              <input type="text" class="form-control" name="address" ng-model="newUser.address">
            </div>
            <div class="form-group">
              <label>Fecha nacimiento</label>
              <input type="date" class="form-control" name="birthday" ng-model="newUser.birthday">
            </div>
            <a ng-click="save()" class="btn btn-default btn-sm">Guardar Cambios</a>
            <a ng-click="triggerShowEdit()" class="btn btn-default btn-sm">Cancelar</a>

          </div>
        </div>
        <div class="col-sm-6">
          <div class="well">
            <h3>
              <span class="fa fa-credit-card"></span>
              Tarjetas</h3>

            <p>
              <strong>id</strong>:
              <%= user.id %>
              <br/>
              <strong>username</strong>:
              <%= user.username %>
              <br>
              <strong>Dirección
              </strong>:
              <%= user.address %>
              <br/>
              <strong>Grupo Sanguíneo
              </strong>:
              <%= user.bloodtype %>
              <br/>
              <strong>Fecha de nacimiento:
              </strong>:
              <%= user.birthday %>
              <br/>
              <strong>arquicoins</strong>:
              <%= user.arquicoins %><br>
            </p>
            <a href="/user/<%=user.id%>/card/new" class="btn btn-default btn-sm">Agregar</a>

          </div>
        </div>
      </div>

      <div class="row">

        <!-- LOCAL INFORMATION -->
        <div class="col-sm-6">
          <div class="well">
            <h3>
              <span class="fa fa-comments"></span>
              Places</h3>

            <div id="map"></div>
            <ul id="rooms"></ul>
          </div>
        </div>

        <div class="col-sm-6">
          <div class="well">
            <h3>
              <span class="fa fa-comment"></span>
              Chat</h3>

            <div>
              <div id="conversation"></div>
              <input id="data" style="width:200px;"/>
              <input type="button" id="datasend" value="send"/>
            </div>
          </div>

        </div>

      </div>

      <div></body>

    </html>
